build
*.pyc
*.bak
*.pickle
/analysis
/sounds
/baskets
/baskets_pickle
/previews
/csv
/pickles
/analysis_stats
.idea/
api_key.py
graylog_auth.py
update_query_logs_db.py
.brackets.json
tag_sim/
results/
/venv
